body{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*------------------------------------------------*/
/*------------------------------------------------*/

/*------------Area - divCabecalho---------*/
.divCabecalho{
  position: absolute;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  top:0%;
  padding: 20px;
  height: 43%;
  width: 100%;
}

.infoInputDivCabecalho{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.infoLabelDivCabecalho{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top:57%;
  width: 100%;
  
}

/*-----------Elementos - divCabecalho---------*/

.elementoDivCabecalho{
  font-family:'Segoe UI';
  text-align: center;
}

h1{
  font-size: 18px;
}

#inputCidade{
  border-radius: 20px;
  border-width: 2px;
  font-family:'Segoe UI';
  width: 250px;
  height: 40px;
  margin-bottom: 7px;
}

#consultaCidade{
  border-radius: 20px;
  border: 0px;
  width: 150px;
  height: 30px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.292);
}

#nomeCidade{
  font-size: 25px;
  margin-top: -15px;
}

#tempAtual{
  font-size: 32px;
}

.labelDivCabecalho{
  margin: 0px;
}

#consultaCidade:hover{
  background: gray;
}

/*-----------------------------------------------*/
/*-----------------------------------------------*/

/*------------Area - divCentral---------*/
.divCentral{
  position: absolute;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  top:43%;
  margin: 0px;
  padding: 10px;
  height: 33%;
  width: 100%;
  
}

.containerDivCentral{
  display: flex;
  flex-direction: row;
    
  overflow-x:auto;
  overscroll-behavior-inline: contain;

  background: rgba(64, 64, 64, 0.232);
  text-align: center;
  top:0px;
  height: 130px;
  width: 330px;
  border: 0px solid black;
  border-radius: 10px;
  filter: blur(0px);

}

/*-----------Elementos - divCabecalho---------*/

.scrollTemperatura,
.scrollIcone,
.scrollHora
{
  display: grid;
  grid-auto-flow: column;
  place-content: center;
  
  color: black;
  width: 90px;
  padding: 3px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  height: 100%;

}


.scrollLateralDivCentral{
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

/*-----------------------------------------------*/
/*-----------------------------------------------*/

/*------------Area - divRodape---------*/
.divRodape{
  position: absolute;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  top:65%;
  padding: 10px;
  height: 200px;
  width: 100%;
 
}

.containerDivRodape{
  display: flex;
  flex-direction: column;
    
  overflow-y:auto;
  overscroll-behavior-inline: contain;

  background: rgba(64, 64, 64, 0.232);
  text-align: center;

  height: 700px;
  width: 330px;
  border-radius: 10px;
  filter: blur(0px);
}

.scrollVerticalDivCentral{
  position: relative;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: row;
  font-size: 20px;
  height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 19px;
  padding-right: 12px;
}


.scrollDiaSemana,
.scrollNuvem{
  display: flex;
  justify-content: center;
  width: 15%;
}

.scrollTempMin,
.scrollTempMax{
  display: flex;
  justify-content: center;
  width: 25%;
  padding-right: 5px;
  padding-left: 5px;
}


.range{
  background: firebrick; 
}

.linhatemperatura{
  position: absolute;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  top:105%;
  padding: 10px;
  height: 200px;
  width: 100%;
}

.linhaMedia{
  display: flex;
  justify-content: center;
  height: 10px;
  width: 130px;
  background-color: grey;
  border-radius: 10px;
}

.linhaTemp{
  position: absolute;
  display: flex;
  justify-content: center;
  height: 10px;
  width: 100px;
  border: 1px solid ;
  border-radius: 10px;
  background-image: linear-gradient(to right, rgb(132, 210, 252),orange, red);
}

.pontoTempAtual{
  position: absolute;
  display: flex;
  top: 0px;
  left: 49%;
  height: 8.0px;
  width: 2%;
  border-radius: 10px;
  background-color: white;
  z-index: 1;
}

.prevdezdias{
  display: flex;
  justify-content: left;
  padding-left: 22px;
  background-color: grey;
  color: rgb(162, 161, 161);
}

.fa-calendar{
  top:50%;
  margin-top: 3px;
  margin-right: 3px;
}

.divisoriaTotal{
  display: flex;
  justify-content: center;
  height: 10px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  z-index: 1;
}

.divisoria{
  position: absolute;
  display: flex;
  justify-content: center;
  height: 1.4px;
  width: 87%;
  border-radius: 10px;
  background-color: white;
  z-index: 1;
}
